# Bash

# Golang
Golang/**/**/*.exe
Golang/**/**/*.exe~
Golang/**/**/*.dll
Golang/**/**/*.so
Golang/**/**/*.dylib
Golang/**/**/*.test
Golang/**/**/*.out
Golang/**/**/go.work
Golang/**/**/go.work.sum


# Lua


# Node.js
Node.js/node_modules/
Node.js/jspm_packages/


# Python
Python/**/**/__pycache__/
Python/**/**/*.py[cod]
#Python/poetry.lock


# Env file
**/**/.env
**/**/.env.*
**/**/.venv
**/**/env/
**/**/venv/
**/**/.cache


# Yakir
tmp/
**/scripts/*.json
**/scripts/*.log
