[Unit]
Description=Rocketmq
Documentation=https://rocketmq.apache.org/docs/
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/rocketmq/bin/mqnamesrv
LimitNOFILE=655350
LimitNPROC=65535
NoNewPrivileges=yes
Restart=on-failure
RestartSec=10s
SuccessExitStatus=143
Type=simple
TimeoutStartSec=60
TimeoutStopSec=30
UMask=0077
User=rocketmq
Group=rocketmq
WorkingDirectory=/opt/rocketmq

[Install]
WantedBy=multi-user.target
